  <!-- Footer -->
  <footer id="contacto">
  <div class="container">    
    <div class="map-container rounded-4 shadow mb-3">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1333.4644985476803!2d-63.52258614766201!3d-20.039567447277122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f64ba3291e1611%3A0x73e9e70e3b5b8123!2sUnidad%20Educativa%20Gabriel%20Rene%20Moreno!5e1!3m2!1ses-419!2ses!4v1748602348721!5m2!1ses-419!2ses" 
        width="100%" height="100%" style="border:0;" 
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <div class="piep">
      <p>Telf: 12346</p>
      <p>© 2025 Colegio Gabriel Rene Moreno - Todos los derechos reservados.</p>
      <p>Camiri - Bolivia</p>
    </div>
  </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>