<%- include('./partials/header') %>
<div class="container logincontainer">
  <div class="grm-login-card">
     <h2 class="grm-title">Iniciar sesión</h2>

   <div>
      <!-- Tipo de usuario -->
      
      <div class="mb-3">
        <label for="grm-rol" class="form-label">Seleccione Tipo Usuario</label>
        <select id="grm-rol" class="form-select" required>   
            <option value="tutor">Apoderado/Tutor</option>   
            <option value="docente">Docente</option>          
            <option value="administrador">Administrador</option>        
        </select>
      </div>

      <!-- Usuario -->
      <div class="mb-3">
        <label for="grm-usuario" class="form-label">Usuario </label>
        <input
          type="text"
          id="grm-usuario"
          class="form-control"
          placeholder="Carnet de Identidad"
          value="admin01"
          required
        />
      </div>

      <!-- Contraseña -->
      <div class="mb-4">
        <label for="grm-password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="grm-password"
          class="form-control"
          placeholder="••••••••"
          value="admin123"
          required
        />
      </div>

      <!-- Botón -->
      <button id="btnEnviar" class="btn grm-btn-login">Iniciar Sesión</button>
    </div>
    <p id="mensajeError">DATOS INCORRECTOS</p>
  </div>
</div>

<script src="/js/inciosesion.js"></script>